Financeiro/main/default/flows/Atualizar_valor_utilizado_excluido.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>set_valor_utilizado</name>
        <label>set_valor_utilizado</label>
        <locationX>604</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>valor_utilizado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop.Valor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Atualizar valor utilizado (excluído) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualizar valor utilizado (excluído)</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>471</locationX>
        <locationY>397</locationY>
        <collectionReference>getLancamentos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_valor_utilizado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_estimado</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getLancamentos</name>
        <label>getLancamentos</label>
        <locationX>258</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estimado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Estimado__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lancamento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_estimado</name>
        <label>update_estimado</label>
        <locationX>627</locationX>
        <locationY>276</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Estimado__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Valor_utilizado__c</field>
            <value>
                <elementReference>valor_utilizado</elementReference>
            </value>
        </inputAssignments>
        <object>Estimado__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getLancamentos</targetReference>
        </connector>
        <object>Lancamento__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>valor_utilizado</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
