Financeiro/main/default/flows/Atualizar_valor_finalidade_criado_atualizado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>set_valor_total</name>
        <label>set_valor_total</label>
        <locationX>472</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>valor_total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_registros.Valor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_registros</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Atualizar valor finalidade (criado/atualizado) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualizar valor finalidade (criado/atualizado)</label>
    <loops>
        <name>loop_registros</name>
        <label>loop_registros</label>
        <locationX>393</locationX>
        <locationY>452</locationY>
        <collectionReference>get_lancamentos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_valor_total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_finalidade</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_lancamentos</name>
        <label>get_lancamentos</label>
        <locationX>248</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_registros</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Finalidade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Finalidade__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lancamento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_finalidade</name>
        <label>update_finalidade</label>
        <locationX>623</locationX>
        <locationY>510</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Finalidade__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Valor_total__c</field>
            <value>
                <elementReference>valor_total</elementReference>
            </value>
        </inputAssignments>
        <object>Finalidade__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_lancamentos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Finalidade__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lancamento__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>valor_total</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
