Financeiro/main/default/flows/Criar_estimados_mes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>add_1_day</name>
        <label>add_1_day</label>
        <locationX>1227</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>dataToUse</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_ultimo_dia_periodo_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_new_data_inicial</name>
        <label>set_new_data_inicial</label>
        <locationX>1525</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>dataInicialRegistro</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dataToUse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataInicialRegistro</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_ultimo_dia_periodo_criado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ultimo_dia_false</name>
        <label>set_ultimo_dia_false</label>
        <locationX>1160</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>is_ultimo_dia</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>domingo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ultimo_dia_true</name>
        <label>set_ultimo_dia_true</label>
        <locationX>1676</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>is_ultimo_dia</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createEstimado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDateToUse</name>
        <label>setDateToUse</label>
        <locationX>1050</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>dataToUse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPeriodo.Data_inicial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataInicialRegistro</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPeriodo.Data_inicial__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>domingo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>domingo</name>
        <label>domingo?</label>
        <locationX>1028</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>add_1_day</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>sim_domingo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>diaSemana</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createEstimado</targetReference>
            </connector>
            <label>sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_ultimo_dia_periodo_2</name>
        <label>is_ultimo_dia_periodo_2</label>
        <locationX>1334</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>nao_ultimo_dia_periodo_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is_ultimo_dia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ultimo_dia_periodo</targetReference>
            </connector>
            <label>nao</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_ultimo_dia_periodo_criado</name>
        <label>is_ultimo_dia_periodo_criado</label>
        <locationX>1352</locationX>
        <locationY>472</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>nao_ultimo_dia_periodo_criado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is_ultimo_dia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_1_day</targetReference>
            </connector>
            <label>nao</label>
        </rules>
    </decisions>
    <decisions>
        <name>ultimo_dia_periodo</name>
        <label>último dia do período?</label>
        <locationX>1667</locationX>
        <locationY>561</locationY>
        <defaultConnector>
            <targetReference>set_ultimo_dia_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>sim_ultimo_dia_periodo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dataToUse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getPeriodo.Data_final__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_ultimo_dia_true</targetReference>
            </connector>
            <label>sim</label>
        </rules>
    </decisions>
    <formulas>
        <name>diaSemana</name>
        <dataType>Number</dataType>
        <expression>MOD(  {!dataToUse}  - DATE(1900, 1, 7), 7)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Criar estimados do mês {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criar estimados do mês</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createEstimado</name>
        <label>createEstimado</label>
        <locationX>1255</locationX>
        <locationY>253</locationY>
        <connector>
            <targetReference>set_new_data_inicial</targetReference>
        </connector>
        <inputAssignments>
            <field>Agrupador__c</field>
            <value>
                <elementReference>getAgrupador.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_final__c</field>
            <value>
                <elementReference>dataToUse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_inicial__c</field>
            <value>
                <elementReference>dataInicialRegistro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>default</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_previsto__c</field>
            <value>
                <elementReference>input_Valor_estimado</elementReference>
            </value>
        </inputAssignments>
        <object>Estimado__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getAgrupador</name>
        <label>getAgrupador</label>
        <locationX>825</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPeriodo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agrupador__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPeriodo</name>
        <label>getPeriodo</label>
        <locationX>897</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setDateToUse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAgrupador.Periodo__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Periodo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Informar_valor_estimado</name>
        <label>Informar valor estimado</label>
        <locationX>681</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getAgrupador</targetReference>
        </connector>
        <fields>
            <name>input_Valor_estimado</name>
            <dataType>Currency</dataType>
            <fieldText>Valor estimado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Informar_valor_estimado</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dataFinalRegistro</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dataInicialRegistro</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dataToUse</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>is_ultimo_dia</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a045Y00000mQXC4QAO</stringValue>
        </value>
    </variables>
</Flow>
