Financeiro/main/default/flows/Criar_registro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <dynamicChoiceSets>
        <name>listAgrupadores</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Periodo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPeriodo.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Débito</stringValue>
            </value>
        </filters>
        <object>Agrupador__c</object>
        <outputAssignments>
            <assignToReference>idAgrupador</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>dataHoje</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Criar registro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criar registro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createRecord</name>
        <label>createRecord</label>
        <locationX>764</locationX>
        <locationY>473</locationY>
        <connector>
            <targetReference>Final</targetReference>
        </connector>
        <inputAssignments>
            <field>Comentarios__c</field>
            <value>
                <elementReference>inputComentario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimado__c</field>
            <value>
                <elementReference>getSemana.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor__c</field>
            <value>
                <elementReference>inputValor</elementReference>
            </value>
        </inputAssignments>
        <object>Lancamento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get</name>
        <label>getAgrupadores</label>
        <locationX>424</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tela_selecionar_agrupador</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Periodo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPeriodo.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Débito</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agrupador__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPeriodo</name>
        <label>getPeriodo</label>
        <locationX>244</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_inicial__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>dataHoje</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_final__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>dataHoje</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Periodo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSemana</name>
        <label>getSemana</label>
        <locationX>604</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agrupador__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idAgrupador</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_inicial__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>dataHoje</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_final__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>dataHoje</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Estimado__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Final</name>
        <label>Final</label>
        <locationX>764</locationX>
        <locationY>639</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>concluido</name>
            <fieldText>&lt;p&gt;Registro lançado!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tela_selecionar_agrupador</name>
        <label>Tela selecionar agrupador</label>
        <locationX>391</locationX>
        <locationY>341</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getSemana</targetReference>
        </connector>
        <fields>
            <name>selectAgrupador</name>
            <choiceReferences>listAgrupadores</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Agrupador</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputValor</name>
            <dataType>Currency</dataType>
            <fieldText>Valor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>inputComentario</name>
            <dataType>String</dataType>
            <fieldText>Comentário</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getPeriodo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>idAgrupador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
