Financeiro/main/default/flows/Criar_lancamentos_fixos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>setEstimado</name>
        <label>setEstimado</label>
        <locationX>726</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>estimadoToCreate.Agrupador__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agrupadorToAdd.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>estimadoToCreate.Valor_previsto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_records.Valor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>estimadoToCreate.Data_inicial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPeriodo.Data_inicial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>estimadoToCreate.Data_final__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPeriodo.Data_final__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>estimadoToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>nome</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createEstimato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewAgrupador</name>
        <label>setNewAgrupador</label>
        <locationX>477</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>agrupadorToAdd.Periodo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agrupadorToAdd.Categoria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_records.Categoria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agrupadorToAdd.Tipo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_records.Tipo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agrupadorToAdd.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_records.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createEstimado</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Criar lançamentos fixos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criar lançamentos fixos</label>
    <loops>
        <name>loop_records</name>
        <label>loop records</label>
        <locationX>708</locationX>
        <locationY>247</locationY>
        <collectionReference>getFixos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setNewAgrupador</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createEstimado</name>
        <label>createEstimado</label>
        <locationX>488</locationX>
        <locationY>530</locationY>
        <connector>
            <targetReference>setEstimado</targetReference>
        </connector>
        <inputReference>agrupadorToAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createEstimato</name>
        <label>createEstimato</label>
        <locationX>937</locationX>
        <locationY>373</locationY>
        <connector>
            <targetReference>loop_records</targetReference>
        </connector>
        <inputReference>estimadoToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getFixos</name>
        <label>getFixos</label>
        <locationX>774</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_records</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lancamento_fixo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPeriodo</name>
        <label>getPeriodo</label>
        <locationX>468</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFixos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Periodo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getPeriodo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agrupadorToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agrupador__c</objectType>
    </variables>
    <variables>
        <name>estimadoToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Estimado__c</objectType>
    </variables>
    <variables>
        <name>listAgrupadores</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agrupador__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
