Financeiro/main/default/flows/Criar_parcelamento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>add_lancamento_list</name>
        <label>add_lancamento_list</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>list_lancamentos_create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lancamento_add</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_index_parcela</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_index_parcela</name>
        <label>set_index_parcela</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>index_parcela</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_estimados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_lancamento</name>
        <label>set_lancamento</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>lancamento_add.Estimado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_estimados.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lancamento_add.Finalidade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Finalidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lancamento_add.Valor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_valor_parcela</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lancamento_add.Comentarios__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_observacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lancamento_add.Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_data</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_lancamento_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_quantidade_agrupadores</name>
        <label>set_quantidade_agrupadores</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>quantidade_agrupadores</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>list_estimados_futuros</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_quantidade_parcelas_suficientes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>exit_loop</name>
        <label>exit_loop</label>
        <locationX>754</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>set_lancamento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>exit_loop_sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>index_parcela</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>input_quantidade_parcelas</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_estimados</targetReference>
            </connector>
            <label>sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_quantidade_parcelas_suficientes</name>
        <label>if_quantidade_parcelas_suficientes</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>loop_estimados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>if_quantidade_parcelas_iguais_nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quantidade_agrupadores</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>input_quantidade_parcelas</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_parcelas_nao_iguais</targetReference>
            </connector>
            <label>nao</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>list_agrupadores</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Periodo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPeriodoAtual.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Débito</stringValue>
            </value>
        </filters>
        <object>Agrupador__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_finalidades</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Finalidade__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>formula_data</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!input_data}, ( {!index_parcela} - 1 ) )</expression>
    </formulas>
    <formulas>
        <name>formula_observacao</name>
        <dataType>String</dataType>
        <expression>{!input_observacao}+&apos; &apos;+TEXT({!index_parcela})+&apos;/&apos;+TEXT({!input_quantidade_parcelas})</expression>
    </formulas>
    <interviewLabel>Criar parcelamento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criar parcelamento</label>
    <loops>
        <name>loop_estimados</name>
        <label>loop_estimados</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <collectionReference>list_estimados_futuros</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>exit_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_records</name>
        <label>create_records</label>
        <locationX>578</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>screen_final</targetReference>
        </connector>
        <inputReference>list_lancamentos_create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getPeriodoAtual</name>
        <label>getPeriodoAtual</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_inicial__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_final__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Periodo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>A quantidade de registros deve bater com a quantidade de parcelas</description>
        <name>list_estimados_futuros</name>
        <label>list_estimados_futuros</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_quantidade_agrupadores</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR (3 AND 4))</filterLogic>
        <filters>
            <field>Nome_agrupador__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_Agrupador</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_inicial__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_inicial__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_final__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Estimado__c</object>
        <sortField>Data_inicial__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen_final</name>
        <label>screen_final</label>
        <locationX>578</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text_final</name>
            <fieldText>&lt;p&gt;Fluxo executado com sucesso!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_options</name>
        <label>screen_options</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>list_estimados_futuros</targetReference>
        </connector>
        <fields>
            <name>input_Agrupador</name>
            <choiceReferences>list_agrupadores</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Agrupador</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_quantidade_parcelas</name>
            <dataType>Number</dataType>
            <fieldText>Quantidade de parcelas</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>input_valor_parcela</name>
            <dataType>Currency</dataType>
            <fieldText>Valor da parcela</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>input_data</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Data primeira parcela</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_observacao</name>
            <dataType>String</dataType>
            <fieldText>Texto de observação</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{texto de observação} + parcela / total&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Finalidade</name>
            <choiceReferences>list_finalidades</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Finalidade</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_parcelas_nao_iguais</name>
        <label>screen_parcelas_nao_iguais</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>texto_parcelas_nao_iguais</name>
            <fieldText>&lt;p&gt;A quantidade de Estimados encontrados não é suficiente para a quantidade de parcelas.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Estimados encontrados: {!quantidade_agrupadores}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPeriodoAtual</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>index_parcela</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>lancamento_add</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lancamento__c</objectType>
    </variables>
    <variables>
        <name>list_lancamentos_create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lancamento__c</objectType>
    </variables>
    <variables>
        <name>quantidade_agrupadores</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
